* {
    -fx-primary-color: #272727;
    -fx-secondary-color: #353535;

    -fx-focus-color: -fx-secondary-color;
}

.tab-header-area .tab-header-background {
    -fx-background-color: -fx-primary-color;
}
.tab-pane .tab:selected {
    -fx-background-color: -fx-secondary-color;
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}
.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 0 5 0 5;
}

.tab-pane .tab{
    -fx-cursor: hand;
}

.tab-pane .tab:hover {
    -fx-background-color: #6b6b6b;
}

.tab-pane:top *.tab-header-area {
    -fx-padding: 0 0 0 0;
}
.tab-pane {
    -fx-background-color: transparent;
    -fx-tab-min-width: 100px;
    -fx-tab-min-height: 40px;
    -fx-tab-max-height: 40px;
}
.tab-pane .tab {
    -fx-background-color: transparent;
}
.tab-pane:focused .tab-header-area .headers-region .tab:selected .focus-indicator {
    -fx-border-width: 0;
    -fx-border-insets: 0 0 0 0;
    -fx-border-radius: 0;
}

.side_label{
    -fx-background-color: #363636;
    /*-fx-padding: 10 0;*/
    /*-fx-min-width: 100px;*/
}

.combo-box .list-cell{
    -fx-text-fill: white;
}

.combo-box .list-view .list-cell {
    -fx-text-fill: white;
    -fx-background-color: #272727;
}

.combo-box .list-view .list-cell:hover {
    -fx-text-fill: white;
    -fx-background-color: -fx-secondary-color;
}


.compare-container{
    -fx-background-radius: 15;
}

.menu-bar {
    -fx-background-color: #363636;

}
.menu-bar .label {
-fx-background-color: #363636;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
    -fx-background: #363636;
    -fx-opacity: 0.5;
    -fx-text-fill: white;
}

.menu-item {
    -fx-text-fill: white;
    -fx-background:  #363636 ;
}
.menu-item .label{
    -fx-text-fill: white;
}
.menu-item:focused {
    -fx-background:  black ;
}

.context-menu {
    -fx-background-color: #363636 ;
    /** -fx-background-insets: 0.0, 1.0, 2.0;
    -fx-background-radius: 0.0 6.0 6.0 6.0, 0.0 5.0 5.0 5.0, 0.0 4.0 4.0 4.0;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em;
    -fx-opacity: 0.9;*/
}


.text-area *.text {
    -fx-text-alignment: center;

}

.vis-button{
    -fx-background-color: #1D1D1D;
    -fx-background-radius: 10;
    -fx-text-fill: #86FF84;
    -fx-font-size: 14px;
    -fx-font-family: "Roboto", sans-serif;
    -fx-padding: 3 6;
}

.vis-button:hover {
    -fx-background-color: #7a6208;
    -fx-cursor: hand;
}

#input-label{
    -fx-background-color: #1D1D1D;
    -fx-background-radius: 4 0 0 4;
    -fx-text-fill: #86FF84;
    -fx-font-size: 14px;
    -fx-font-family: "Roboto", sans-serif;
    -fx-padding: 3 7;
}

#array-input{
    -fx-background-color: white;
    -fx-border-color: #1D1D1D;
    -fx-border-width: 4px;
    /*-fx-border-radius: 0 4 4 0;*/
    -fx-text-fill: black;
    -fx-prompt-text-fill: #777777;
    -fx-font-family: "Roboto", sans-serif;
}



#visui_container{
    -fx-background-color: #1D1D1D;
    -fx-background-radius: 15;
    -fx-padding: 10 5;
}


.dropdown{
    -fx-background-color: #272727;
    -fx-background-radius:  15 15 0 0;
    -fx-alignment: center;
    -fx-font-size: 16;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #a29b5b;
}

.dropdown .arrow {
    -fx-font-size: 23;
    -fx-background-color: #a29b5b;
}

.dropdown:hover{
    -fx-background-color: #8a6b5c;
}

.dropdown .list-view .list-cell{
    -fx-text-fill: white;
    -fx-alignment: center;
}

.dropdown  .cell:selected {
    -fx-text-fill: white;
    -fx-alignment: center;
}

.dropdown .list-view .list-cell:hover {
    -fx-text-fill: white;
    -fx-background-color: #8a6b5c;
}

#speed-dropdown {
    -fx-background-color: #272727;
}

#speed-dropdown .list-view .list-cell{
    -fx-text-fill: white;
}

#speed-dropdown .cell:selected {
    -fx-text-fill: #86FF84;
}

#algo-state{
    -fx-background-color: #1D1D1D;
    -fx-background-radius: 15;
    -fx-background-radius: 0 0 10 10;
    -fx-text-fill: #b1f9ff;
}

#algo-label {
    -fx-background-color: #1D1D1D;
    /*-fx-font-size: 14px;*/
    -fx-background-radius: 10 10 0 0;
}


